body{
    margin: 0;
    padding: 0;
    background: rgb(196, 194, 194);
}
form{
    width: 80%;
    margin: auto;
}
form  .title{
    display: block;
    background:white;
    padding: 45px;
    border-top: solid 10px blue;
    border-radius: 10px 10px 5px 5px ;
}
form ul input[type="text"]{
    width: 50%;
    outline: none;
    border: none;
}
form .enter-question{
    background:white;
    padding: 45px;
    border-radius: 5px 5px 5px 5px;
}
form ul button{
    float: right;
    padding: 5px 20px 5px 20px;
    outline: none;
    border: none;
    margin: 5px;
    border-radius: 5px;
}