body{
    margin: 0;
    padding: 0;
    background: rgb(196, 194, 194);
    font-family: 'Times New Roman', Times, serif;
}
/* -------------------------koev---------- */
nav{
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    padding: 10px;
}
nav ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    padding: 10px;
    background: rgba(4, 76, 145, 0.747);
    margin-left: 10px;
    border-radius: 5px;
}
nav ul li a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}
nav .title{
    position: absolute;
    left: 2em;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
}
form{
    width: 80%;
    margin: auto;
}
form  .title{
    display: block;
    background:white;
    padding: 45px;
    border-top: solid 20px blue;
    border-radius: 15px 15px 5px 5px ;
}
form ul input[type="text"]{
    width: 50%;
    outline: none;
    border: none;
}
.enter-question{
    background:white;
    padding: 45px;
    border-radius: 5px 5px 5px 5px;
}
form ul button{
    float: right;
    padding: 5px 20px 5px 20px;
    outline: none;
    border: none;
    margin: 5px;
    border-radius: 5px;
}
li{
    list-style: none;
}
.delete{
    background: red;
    color: white;

}
.color-blue{
    background: rgb(0, 0, 165);
    color: white;
}
.d-flex{
   display: block;
}
.mt{
    margin-top: 15px;
}
.correct-answer{
    background: rgb(190, 190, 190);
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.container {
    width: 80%;
    margin: auto;
    border-radius: 20px;
    border-top: 20px blue solid;
}
.passage{
    padding: 30px;
    margin-left: 40px;   
    font-size: 17px;
    
}

.input-radio {
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    padding-top: 10px;
    border-radius: 10px;
}
.quiz-title {
 padding-left: 30px;
}
li{
    list-style: none;
    font-size:19px;
}
input{
    margin-top: 10px;
}
.button_Submit{
    background-color: rgb(24, 38, 236);
    float: right;
    padding: 10px 20px 10px 20px;
    border: none;
    margin: auto;
    border-radius: 5px;
    color: white;
    margin-right: 15%;
    margin-top: 50px;
    margin-bottom: 50px;
}

